/* Estilo para a barra de navegação */
nav {
    background-color: #007bff;
    padding: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    background-color: #0056b3;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  nav ul li a:hover {
    background-color: #003d82;
    transform: scale(1.05);
  }
  
  nav ul li a:active {
    background-color: #002a5c;
  }
  
  /* Estilo para o link ativo */
  nav ul li a.active {
    background-color: #28a745;
  }