  div #form_cadastro_detento, #form_listar_detento, #form_buscar_detento, #form_editar_detento, #form_cadastro_atividade{
    padding: 50px;
    margin: 10px;
    background-color:#f4f4f9;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(130, 130, 130);
  }

  .container {
    width: 100%;

    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #333;
  }
  
  input, select {
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input, select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
  }
  
  button[type="submit"] {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  /* Estilos para a tabela de listagem de detentos */
  
  table {
    width: 100%;
  
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  table th, table td {
    padding: 12px 15px;
    text-align: left;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  table tr:hover {
    background-color: #f4f4f9;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table td {
    font-size: 14px;
    color: #555;
  }
  
  table tbody tr:last-child td {
    border-bottom: none;
  }