/* Estilos para a tabela de listagem de detentos */
div#form_buscar_detento , #form_listar_atividades_detento, #detento_encontrado{
  padding: 50px;
  margin: 10px;
  background-color:#f4f4f9;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgb(130, 130, 130);
}

table {
  width: 100%;
  max-width: 900px;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

table th, table td {
  padding: 12px 15px;
  text-align: left;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

table tr:hover {
  background-color: #f4f4f9;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table td {
  font-size: 14px;
  color: #555;
}

table tbody tr:last-child td {
  border-bottom: none;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Mensagens de resposta */
.resposta-sucesso {
  color: #28a745;
  font-weight: bold;
  font-size: larger;
  margin-top: 10px;
}

.resposta-erro {
  color: #dc3545;
  font-weight: bold;
  margin-top: 10px;
}

.respostaClasse {
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"] {
  width: calc(30% - 130px);
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#form_buscar_detento p {
  font-size: 18px;
  color: #333;
  margin: 8px 0;

}

#form_buscar_detento strong {
  color: #007bff;
  
}

